<div>
  <section>
    <div class="container">
      <h2>Account</h2>
      <form>
        <fieldset>
          <legend>Invitations indstillinger</legend>

          <label>
            <span>Navn</span>
            <input type="text" name="name" ng-model="vm.user.profile.name"/>
          </label>

          <label>
            <span>Email:</span>
            <br />
            <span>{{ vm.user.profile.email }}</span>
          </label>
        </fieldset>
      </form>

      <form>
        <fieldset>
          <legend>Skift adgangskode</legend>

          <label>
            <span>Nuværende adgangskode:</span>
            <input type="password" ng-keypress="clear()" ng-model="vm.oldpass"/>
          </label>

          <label>
            <span>Ny adgangskode:</span>
            <input type="password" ng-keypress="clear()" ng-model="vm.newpass"/>
          </label>

          <label>
            <span>Bekræft ny adgangskode:</span>
            <input type="password" ng-keypress="clear()" ng-model="vm.confirm"/>
          </label>

          <button ng-click="vm.changePassword( vm.oldpass, vm.newpass, vm.confirm )">Skift adgangskode</button>

          <p class="error" ng-show="err">{{ vm.err }}</p>
          <p class="good" ng-show="msg">{{ vm.msg }}</p>
        </fieldset>
      </form>

      <form>
        <fieldset>
          <legend>Skift brugernavn</legend>

          <label>
            <span>Nyt brugernavn</span>
            <input type="text" ng-keypress="clear()" ng-model="newEmail"/>
          </label>

          <label>
            <span>Adgangskode</span>
            <input type="password" ng-keypress="clear()" ng-model="pass"/>
          </label>

          <button ng-click="vm.changeEmail(pass, newEmail)">Opdatér</button>

          <p class="error" ng-show="emailerr">{{vm.emailerr}}</p>
          <p class="good" ng-show="emailmsg">{{vm.emailmsg}}</p>
        </fieldset>
      </form>

      <button ng-click="vm.logout()">Log ud</button>
    </div>
  </section>
</div>
