.top-emblem {
	margin-top: -30px;
	min-height: 130px;
	transition: min-height ease-in 300ms;
}

.font-swung {
	font-family: 'Great Vibes', serif;
	font-size: 1.4em;
	color: $color-primary;
}

.ambersand-black {
	color: black;
}

.header-logo {
	position: absolute;
	top: 30px;
	left: 60px;
	img {
		width: 75px;
	}
}
