<div class="container">

  <!-- ROW-1 -->
  <div class="row">

    <!-- SECTION TITLE -->
    <div class="col-md-offset-2 col-md-8 text-center">

      <div class="section-title animation fadeInUp">
        <h2>
          OUR <img src="/assets/images/heart-icon.png" alt=""> GALLERI
        </h2>

        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer ultrices malesuada ante quis pharetra. Nullam notn bibendum dolor. Ut vel turpis accumsan, efficitur dolor fermentum, tincidunt metus. Etiam ut ultrices nibh.  Etiam aliquam mauris non hendrerit faucibus. Proin pulvinar congue  ex, vitae
        </p>


      </div>
    </div>
  </div> <!-- END of ROW-1 -->

  <div class="row">

    <!--GALLERY-ITEM-1-->
    <div class="col-md-4">
      <!--PHOTO-ITEM-->
      <div class="photo-item frame-border animation fadeIn">

        <!--PHOTO-->
        <img src="http://placehold.it/290x290" alt="" class="hover-animation image-zoom-rotate">

        <!--PHOTO OVERLAY-->
        <div class="layer wh100 hidden-black-overlay hover-animation fade-in">
        </div><!--END of PHOTO OVERLAY-->

        <!--ICON LINK-->
        <div class="layer wh100 hidden-link hover-animation delay1 fade-in">
          <div class="alignment">
            <div class="v-align center-middle">

              <a href="http://placehold.it/500x750" class="magnific-zoom-gallery" title="Attachment-1">
                <div class="de-icon circle light medium-size inline">
                  <i class="de-icon-zoom-in"></i>
                </div>
              </a>

            </div>
          </div>
        </div><!--END of ICON LINK-->

      </div><!--END of PHOTO-ITEM-->
    </div><!--END of GALLERY-ITEM-1-->

    <!--GALLERY-ITEM-2-->
    <div class="col-md-4">
      <!--PHOTO-ITEM-->
      <div class="photo-item frame-border animation fadeIn">

        <!--PHOTO-->
        <img src="http://placehold.it/290x290" alt="" class="hover-animation image-zoom-rotate">

        <!--PHOTO OVERLAY-->
        <div class="layer wh100 hidden-black-overlay hover-animation fade-in">
        </div><!--END of PHOTO OVERLAY-->

        <!--ICON LINK-->
        <div class="layer wh100 hidden-link hover-animation delay1 fade-in">
          <div class="alignment">
            <div class="v-align center-middle">

              <a href="http://placehold.it/700x394" class="magnific-zoom-gallery" title="Attachment-2">
                <div class="de-icon circle light medium-size inline">
                  <i class="de-icon-zoom-in"></i>
                </div>
              </a>

            </div>
          </div>
        </div><!--END of ICON LINK-->

      </div><!--END of PHOTO-ITEM-->
    </div><!--END of GALLERY-ITEM-2-->

    <!--GALLERY-ITEM-3-->
    <div class="col-md-4">
      <!--PHOTO-ITEM-->
      <div class="photo-item frame-border animation fadeIn">

        <!--PHOTO-->
        <img src="http://placehold.it/290x290" alt="" class="hover-animation image-zoom-rotate">

        <!--PHOTO OVERLAY-->
        <div class="layer wh100 hidden-black-overlay hover-animation fade-in">
        </div><!--END of PHOTO OVERLAY-->

        <!--ICON LINK-->
        <div class="layer wh100 hidden-link hover-animation delay1 fade-in">
          <div class="alignment">
            <div class="v-align center-middle">

              <a href="http://placehold.it/700x467" class="magnific-zoom-gallery" title="Attachment-3">
                <div class="de-icon circle light medium-size inline">
                  <i class="de-icon-zoom-in"></i>
                </div>
              </a>

            </div>
          </div>
        </div><!--END of ICON LINK-->

      </div><!--END of PHOTO-ITEM-->
    </div><!--END of GALLERY-ITEM-3-->

    <!--GALLERY-ITEM-4-->
    <div class="col-md-4">
      <!--PHOTO-ITEM-->
      <div class="photo-item frame-border animation fadeIn">

        <!--PHOTO-->
        <img src="http://placehold.it/290x290" alt="" class="hover-animation image-zoom-rotate">

        <!--PHOTO OVERLAY-->
        <div class="layer wh100 hidden-black-overlay hover-animation fade-in">
        </div><!--END of PHOTO OVERLAY-->

        <!--ICON LINK-->
        <div class="layer wh100 hidden-link hover-animation delay1 fade-in">
          <div class="alignment">
            <div class="v-align center-middle">

              <a href="http://placehold.it/700x467" class="magnific-zoom-gallery" title="Attachment-4">
                <div class="de-icon circle light medium-size inline">
                  <i class="de-icon-zoom-in"></i>
                </div>
              </a>

            </div>
          </div>
        </div><!--END of ICON LINK-->

      </div><!--END of PHOTO-ITEM-->
    </div><!--END of GALLERY-ITEM-4-->

    <!--GALLERY-ITEM-5-->
    <div class="col-md-4">
      <!--PHOTO-ITEM-->
      <div class="photo-item frame-border animation fadeIn">

        <!--PHOTO-->
        <img src="http://placehold.it/290x290" alt="" class="hover-animation image-zoom-rotate">

        <!--PHOTO OVERLAY-->
        <div class="layer wh100 hidden-black-overlay hover-animation fade-in">
        </div><!--END of PHOTO OVERLAY-->

        <!--ICON LINK-->
        <div class="layer wh100 hidden-link hover-animation delay1 fade-in">
          <div class="alignment">
            <div class="v-align center-middle">

              <a href="http://placehold.it/700x467" class="magnific-zoom-gallery" title="Attachment-5">
                <div class="de-icon circle light medium-size inline">
                  <i class="de-icon-zoom-in"></i>
                </div>
              </a>

            </div>
          </div>
        </div><!--END of ICON LINK-->

      </div><!--END of PHOTO-ITEM-->
    </div><!--END of GALLERY-ITEM-5-->

    <!--GALLERY-ITEM-6-->
    <div class="col-md-4">
      <!--PHOTO-ITEM-->
      <div class="photo-item frame-border animation fadeIn">

        <!--PHOTO-->
        <img src="http://placehold.it/290x290" alt="" class="hover-animation image-zoom-rotate">

        <!--PHOTO OVERLAY-->
        <div class="layer wh100 hidden-black-overlay hover-animation fade-in">
        </div><!--END of PHOTO OVERLAY-->

        <!--ICON LINK-->
        <div class="layer wh100 hidden-link hover-animation delay1 fade-in">
          <div class="alignment">
            <div class="v-align center-middle">

              <a href="http://placehold.it/700x467" class="magnific-zoom-gallery" title="Attachment-6">
                <div class="de-icon circle light medium-size inline">
                  <i class="de-icon-zoom-in"></i>
                </div>
              </a>

            </div>
          </div>
        </div><!--END of ICON LINK-->

      </div><!--END of PHOTO-ITEM-->
    </div><!--END of GALLERY-ITEM-6-->

    <!--GALLERY-ITEM-7-->
    <div class="col-md-4">
      <!--PHOTO-ITEM-->
      <div class="photo-item frame-border animation fadeIn">

        <!--PHOTO-->
        <img src="http://placehold.it/290x290" alt="" class="hover-animation image-zoom-rotate">

        <!--PHOTO OVERLAY-->
        <div class="layer wh100 hidden-black-overlay hover-animation fade-in">
        </div><!--END of PHOTO OVERLAY-->

        <!--ICON LINK-->
        <div class="layer wh100 hidden-link hover-animation delay1 fade-in">
          <div class="alignment">
            <div class="v-align center-middle">

              <a href="http://placehold.it/700x467" class="magnific-zoom-gallery" title="Attachment-7">
                <div class="de-icon circle light medium-size inline">
                  <i class="de-icon-zoom-in"></i>
                </div>
              </a>

            </div>
          </div>
        </div><!--END of ICON LINK-->

      </div><!--END of PHOTO-ITEM-->
    </div><!--END of GALLERY-ITEM-7-->

    <!--GALLERY-ITEM-8-->
    <div class="col-md-4">
      <!--PHOTO-ITEM-->
      <div class="photo-item frame-border animation fadeIn">

        <!--PHOTO-->
        <img src="http://placehold.it/290x290" alt="" class="hover-animation image-zoom-rotate">

        <!--PHOTO OVERLAY-->
        <div class="layer wh100 hidden-black-overlay hover-animation fade-in">
        </div><!--END of PHOTO OVERLAY-->

        <!--ICON LINK-->
        <div class="layer wh100 hidden-link hover-animation delay1 fade-in">
          <div class="alignment">
            <div class="v-align center-middle">

              <a href="http://placehold.it/700x467" class="magnific-zoom-gallery" title="Attachment-8">
                <div class="de-icon circle light medium-size inline">
                  <i class="de-icon-zoom-in"></i>
                </div>
              </a>

            </div>
          </div>
        </div><!--END of ICON LINK-->

      </div><!--END of PHOTO-ITEM-->
    </div><!--END of GALLERY-ITEM-8-->

    <!--GALLERY-ITEM-9-->
    <div class="col-md-4">
      <!--PHOTO-ITEM-->
      <div class="photo-item frame-border animation fadeIn">

        <!--PHOTO-->
        <img src="http://placehold.it/290x290" alt="" class="hover-animation image-zoom-rotate">

        <!--PHOTO OVERLAY-->
        <div class="layer wh100 hidden-black-overlay hover-animation fade-in">
        </div><!--END of PHOTO OVERLAY-->

        <!--ICON LINK-->
        <div class="layer wh100 hidden-link hover-animation delay1 fade-in">
          <div class="alignment">
            <div class="v-align center-middle">

              <a href="http://placehold.it/700x467" class="magnific-zoom-gallery" title="Attachment-9">
                <div class="de-icon circle light medium-size inline">
                  <i class="de-icon-zoom-in"></i>
                </div>
              </a>

            </div>
          </div>
        </div><!--END of ICON LINK-->

      </div><!--END of PHOTO-ITEM-->
      </div><!--END of GALLERY-ITEM-9-->
  </div>
</div>
