<div class="container">

  <!-- ROW-1 -->
  <div class="row">

    <!-- SECTION TITLE -->
    <div class="col-md-offset-2 col-md-8 text-center">

      <div class="section-title animation fadeInUp">
        <h2>
          GIFT REGISTRY
        </h2>

        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer ultrices malesuada ante quis pharetra. Nullam notn bibendum dolor. Ut vel turpis accumsan, efficitur dolor fermentum, tincidunt metus. Etiam ut ultrices nibh.  Etiam aliquam mauris non hendrerit faucibus. Proin pulvinar congue  ex, vitae
        </p>


      </div>
    </div>
  </div> <!-- END of ROW-1 -->

  <!-- ROW-2 -->
  <div class="row">
    <div class="col-md-offset-1 col-md-10 text-center">
      <div id="registry-logo" class="owl-carousel">
        <div class="item"> <a href="#"> <img src="http://placehold.it/249x67" alt=""> </a> </div>
        <div class="item"> <a href="#"> <img src="http://placehold.it/249x67" alt=""> </a> </div>
        <div class="item"> <a href="#"> <img src="http://placehold.it/249x67" alt=""> </a> </div>
        <div class="item"> <a href="#"> <img src="http://placehold.it/249x67g" alt=""> </a> </div>
        <div class="item"> <a href="#"> <img src="http://placehold.it/249x67" alt=""> </a> </div>
      </div>
    </div>
  </div> <!-- END of ROW-2 -->
</div>
