<div class="container">
  <!-- ROW-1 -->
  <div class="row">

    <!-- SECTION TITLE -->
    <div class="col-md-offset-2 col-md-8 text-center">

      <div class="section-title animation fadeInUp">
        <h2>
          RSVP
        </h2>

        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer ultrices malesuada ante quis pharetra. Nullam notn bibendum dolor. Ut vel turpis accumsan, efficitur dolor fermentum, tincidunt metus. Etiam ut ultrices nibh.  Etiam aliquam mauris non hendrerit faucibus. Proin pulvinar congue  ex, vitae
        </p>


      </div>
    </div>
  </div> <!-- END of ROW-1 -->

  <!-- FORM -->
  <div class="row">
    <div id="message" class="col-md-12 message"> <!-- Show Message --> </div>

    <form method="post" action="rsvp.php" id="rsvpform">
      <div class="col-md-6">
        <div id="fullname" class="form-group">
          <label for="inputname">*NAME</label>
          <input type="text" class="form-control ajax-input" id="inputname" placeholder="" data-required="Name Required" data-output-label="Output Name">
        </div>
        <div id="email" class="form-group">
          <label for="inputemail">*EMAIL</label>
          <input type="email" class="form-control ajax-input" id="inputemail" placeholder="" data-required="Email Required" data-output-label="Output Email">
        </div>
        <div id="events" class="form-group">
          <label for="inputevents">*I WILL ATTEND TO</label>
          <select multiple id="inputevents" class="form-control ajax-input" data-required="Please Select Events" data-output-label="Output Events">
            <option>Wedding Day</option>
            <option>Ceremony Day</option>
            <option>The Party</option>
          </select>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label for="inputmessage">LEAVE YOUR MESSAGE</label>
          <textarea id="inputmessage" class="form-control ajax-input" rows="14" data-output-label="Output Message"></textarea>
        </div>
      </div>
      <div class="col-md-12 text-center">
        <div class="form-group">
          <input type="submit" id="submitButton"  name="submitButton" class="button medium reverse" value="SUBMIT">
        </div>
      </div>
      </form>
  </div>
</div>
