<div class="container">
    <div class="row" zum-waypoint="wp" down="couple.on" offset="80%">
        <!-- SECTION CONTENT -->
        <div class="col-md-6 center-middle">
            <!--PHOTO-ITEM-->
            <div class="photo-item frame-border animated w75" ng-class="{'fadeInLeft': wp.couple.on, 'invisible' : !wp.couple.on }">
                <!--PHOTO-->
                <img src="/assets/images/mathilde2.jpg" alt="Mathilde" class="hover-animation image-zoom-in">
                <!--PHOTO OVERLAY-->
                <div class="layer wh100 hidden-black-overlay hover-animation fade-in">
                </div>
                <!--END of PHOTO OVERLAY-->
                <!--ICON LINK-->
                <div class="layer wh100 hidden-link hover-animation delay1 fade-in">
                    <div class="alignment">
                        <div class="v-align center-middle">
                            <!-- <a href="/assets/images/mathilde2.jpg" class="magnific-zoom">
                      <div class="de-icon circle light medium-size inline">
                        <i class="de-icon-zoom-in"></i>
                      </div>
                    </a> -->
                            <a class="magnific-ajax" href="/her">
                                <div class="de-icon circle light medium-size inline">
                                    <i class="de-icon-link"></i>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <!--END of ICON LINK-->
            </div>
            <!--END of PHOTO-ITEM-->
            <div class="his-her-name">
                <h2 class="text-center">Mathilde<span class="last-name">-&nbsp;Grøn&nbsp;-</span></h2>
                <!-- <div class="heart-wrapper">
                <div class="de-icon circle medium-size custom-heart">
                  <i class="de-icon-heart"></i>
                </div>
              </div> -->
            </div>
            <p class="blurb animation fadeInLeft text-center">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer ultrices malesuada ante quis pharetra. Nullam non bibendum dolor. Ut vel turpis accumsan, efficitur dolor fermentum, tincidunt metus. Etiam ut ultrices nibh. Etiam aliquam mauris non hendrerit faucibus. Proin pulvinar congue ex, vitae commodo. Phasellus condimentum, mi ut sodales gravida.
            </p>
        </div>
        <div class="col-md-6 center-middle">
            <!--PHOTO-ITEM-->
            <div class="photo-item frame-border animated w75" ng-class="{'fadeInRight': wp.couple.on, 'invisible' : !wp.couple.on }">
                <!--PHOTO-->
                <img src="/assets/images/daniel.jpg" alt="Daniel" class="hover-animation image-zoom-in">
                <!--PHOTO OVERLAY-->
                <div class="layer wh100 hidden-black-overlay hover-animation fade-in">
                </div>
                <!--END of PHOTO OVERLAY-->
                <!--ICON LINK-->
                <div class="layer wh100 hidden-link hover-animation delay1 fade-in">
                    <div class="alignment">
                        <div class="v-align center-middle">
                            <!-- <a href="/assets/images/daniel.jpg" class="magnific-zoom">
                      <div class="de-icon circle light medium-size inline">
                        <i class="de-icon-zoom-in"></i>
                      </div>
                    </a> -->
                            <a class="magnific-ajax" href="/him">
                                <div class="de-icon circle light medium-size inline">
                                    <i class="de-icon-link"></i>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <!--END of ICON LINK-->
            </div>
            <!--END of PHOTO-ITEM-->
            <div class="his-her-name">
                <h2 class="text-center">Daniel<span class="last-name">-&nbsp;Harding Knudsen&nbsp;-</span></h2>
            </div>
            <p class="blurb animation fadeInRight text-center">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer ultrices malesuada ante quis pharetra. Nullam non bibendum dolor. Ut vel turpis accumsan, efficitur dolor fermentum, tincidunt metus. Etiam ut ultrices nibh. Etiam aliquam mauris non hendrerit faucibus. Proin pulvinar congue ex, vitae commodo. Phasellus condimentum, mi ut sodales gravida.
            </p>
        </div>
    </div>
</div>
