<div class="container">
  <!-- ROW-1 -->
  <div class="row">

    <!-- SECTION TITLE -->
    <div class="col-md-offset-2 col-md-8 text-center">

      <div class="section-title animation fadeInUp">
        <h2>
          HVOR <span class="and">&amp;</span> HVORNÅR
        </h2>

        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer ultrices malesuada ante quis pharetra. Nullam notn bibendum dolor. Ut vel turpis accumsan, efficitur dolor fermentum, tincidunt metus. Etiam ut ultrices nibh.  Etiam aliquam mauris non hendrerit faucibus. Proin pulvinar congue  ex, vitae
        </p>


      </div>
    </div>
  </div> <!-- END of ROW-1 -->
  <!-- ROW-2 -->
  <div class="row">

    <!-- SECTION TITLE -->
    <div class="col-md-12 text-center">

      <div class="banner-text dark full animation fadeIn">

        <div class="row">
          <div class="col-md-4">
            <h3>9 / JULI / 2016</h3>
          </div>
          <div class="col-md-4">
            <div class="border-column">
              <h3>KLOKKEN TRETTEN</h3>
            </div>
          </div>
          <div class="col-md-4">
            <h3>VOR FRUE KIRKE, AARHUS</h3>
          </div>

        </div>


      </div>

    </div>
  </div> <!-- END of ROW-2 -->
  <!-- ROW-3 -->
  <div class="row">
    <div class="col-md-6 animation fadeIn">

      <div class="de-icon circle small-size inline">
        <i class="de-icon-bell-alt"></i>
      </div>
      <h3 class="inline">CEREMONIEN</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer ultrices malesuada ante quis pharetra. Nullam non bibendum dolor. Ut vel turpis accumsan, efficitur dolor fermentum, tincidunt metus. Etiam ut ultrices nibh.  Etiam aliquam mauris non hendrerit faucibus. Proin pulvinar congue</p>

      <div class="de-icon circle small-size inline">
        <i class="de-icon-food"></i>
      </div>
      <h3 class="inline">RECEPTIONEN</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer ultrices malesuada ante quis pharetra. Nullam non bibendum dolor. Ut vel turpis accumsan, efficitur dolor fermentum, tincidunt metus. Etiam ut ultrices nibh.  Etiam aliquam mauris non hendrerit faucibus. Proin pulvinar congue</p>

      <div class="de-icon circle small-size inline">
        <i class="de-icon-home-1"></i>
      </div>
      <h3 class="inline">OVERNATNINGSMULIGHEDER</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer ultrices malesuada ante quis pharetra. Nullam non bibendum dolor. Ut vel turpis accumsan, efficitur dolor fermentum, tincidunt metus. Etiam ut ultrices nibh.  Etiam aliquam mauris non hendrerit faucibus. Proin pulvinar congue</p>

    </div>


    <div class="col-md-6 animation fadeIn">
      <div id="map-canvas" style="border:15px solid #FFF; margin-top:20px;"></div>
    </div>
  </div> <!-- END of ROW-3 -->
</div>
