<div id="user-modal">
    <div class="modal-header">
        <h3 class="modal-title">Opret ny invitation</h3>
    </div>
    <div class="modal-body">
        <form name="modalForm">
          <div class="row">
            <div class="col-sm-12">
              <div class="form-group">
                <label for="uName">Login title (Par/Familie titel)</label>
                <input type="text" class="form-control" required id="uName" ng-model="vm.profile.name" placeholder="Invitationstitel">
              </div>
            </div>
          </div>
          <div class="row" ng-if="!vm.isEdit">
            <div class="col-sm-6">
              <div class="form-group">
                <label for="uEmail">Brugernavn</label>
                <input type="text" class="form-control" required ng-model="vm.profile.email" id="uEmail" placeholder="brugernavn">
                <!-- <div class="input-group">
                  <div class="input-group-addon">{{ vm.emailpostfix }}</div>
                </div> -->
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group">
                <label for="uPass">Adgangskode</label>
                <input type="text" class="form-control" required ng-model="vm.profile.pass" id="uPass" placeholder="adgangskode">
              </div>
            </div>
          </div>
          <div class="row" ng-if="vm.isEdit">
            <div class="col-sm-6">
              <div class="form-group">
                <label for="uEmail">Brugernavn</label>
                <input type="text" class="form-control" disabled ng-model="vm.profile.email" id="uEmail" placeholder="brugernavn">
                <!-- <div class="input-group">
                  <div class="input-group-addon">{{ vm.emailpostfix }}</div>
                </div> -->
              </div>
            </div>
          </div>
          <div class="row">
            <div class="well">
              <ul class="list-inline row">
                <li ng-repeat="person in vm.people" class="col-sm-4">
                  <div class="panel">
                    <div class="panel-heading">
                      <button class="btn" ng-click="vm.removePerson( $index )"><i class="fa fa-minus-circle"></i></button>
                    </div>
                    <div class="panel-body">
                      <!-- <div class="form-group">
                        <input type="file" onchange="angular.element( this ).scope().fileNameChanged(this, person )">
                        <image-crop
                         data-height="200"
                         data-width="200"
                         data-shape="circle"
                         data-src="person.imageSrc"
                         data-step="person.imageCropStep"
                         data-result="person.result"
                        ></image-crop>
                      </div> -->
                      <div class="form-group">
                        <label for="person-name-{{$index}}">Navn</label>
                        <input type="text" class="form-control" id="person-name-{{$index}}" required ng-model="person.name" placeholder="Navn">
                      </div>
                      <div class="form-group">
                        <label for="person-email-{{$index}}">Email</label>
                        <input type="text" class="form-control" id="person-email-{{$index}}" ng-model="person.email" placeholder="Email">
                      </div>
                      <div class="form-group">
                        <label for="person-phone-{{$index}}">Telefon</label>
                        <input type="text" class="form-control" id="person-phone-{{$index}}" ng-model="person.phone" placeholder="Telefon">
                      </div>
                      <div class="form-group">
                        <label for="person-comments-{{$index}}">Beskrivelse</label>
                        <textarea class="form-control" id="person-comments-{{$index}}" ng-model="person.comments"></textarea>
                      </div>
                      <div class="checkbox">
                        <label>
                          <input type="checkbox" ng-model="person.public"> Gør Profil offentlig
                        </label>
                      </div>
                      <div class="form-group">
                        <label for="person-status-{{$index}}">RSVP status</label>
                        <select class="form-control" ng-model="person.status" ng-options="option.value as option.label for option in vm.statusOptions" id=""></select>
                      </div>
                    </div>
                  </div>
                </li>
                <li class="col-sm-4">
                  <button type="button" ng-click="vm.addPerson()" class="btn btn-warning btn-lg btn-block">
                    <div class="stats__icon"><span class="fa fa-plus fa-2x"></span></div>
                    <div class="stats__value">Tilføj person</div>
                  </button>
                  <!-- <div class="panel panel-warning">
                    <div class="panel-body bg-warning text-center">
                      <span>Tilføj person</span>
                    </div>
                  </div> -->
                </li>
              </ul>
            </div>
          </div>
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-disabled="modalForm.$invalid || vm.isEmpty(vm.people)" ng-click="vm.save()">OK</button>
        <button class="btn btn-warning" type="button" ng-click="vm.cancel()">Cancel</button>
    </div>
</div>
