<section id="practical">
  <div class="container">
    <!-- row-1 -->
    <div class="row">
      <!-- Address 1 -->
      <div square-box class="col-sm-4 col--green vertical-align">
        <div>
          <svg viewBox="0 0 100 100" class="svg-icon map-marker">
            <use xlink:href="#map-marker"></use>
          </svg>
          <h5 class="color-primary">Vielsen</h5>
          <h3 class="color-white">
            Vor Frue Kirke<br>
            Frue Kirkeplads 3<br>
            8000 Aarhus C
          </h3>
        </div>
      </div>

      <!-- Image: the church -->
      <div square-box class="col-sm-4 col--image vertical-align">
        <img src="/assets/images/church-square.png" class="img-responsive">
      </div>

      <!-- Address 2 -->
      <div square-box class="col-sm-4 col--light vertical-align">
        <div>
          <svg viewBox="0 0 100 100" class="svg-icon map-marker">
            <use xlink:href="#map-marker"></use>
          </svg>
          <h5 class="color-primary">Reception & Fest</h5>
          <h3 class="color-quaternary">
            Varna Palæet<br>
            Ørneredevej 3<br>
            8000 Aarhus C
          </h3>
        </div>
      </div>
    </div>


    <div class="row flex-row">
      <div class="col-sm-8 col--light vertical-align text-padding">
        <div class="row">
          <div class="col-sm-8">
            <h2 class="color-primary">Dresscode</h2>
            <p>
              Det vigtigste for tøjvalget er, at I føler jer godt tilpas – og som I kan danse i, naturligvis :)
            </p>
            <p>
              Dog vil vi sætte stor pris på, at kjolerne er anden farve end helt sort eller helt hvid.<br>
              Gommen vil bære jakkesæt.
            </p>
          </div>
          <div class="col-sm-4 vertical-align">
              <img src="/assets/images/gold-flower.png" class="img-responsive">
          </div>
        </div>
      </div>
      <div square-box class="col-sm-4 col--green vertical-align bg-leaf text-padding">
        <h2 class="color-primary">Skiftetøj</h2>
        <p class="color-white">
          Til de af jer som ønsker at skifte tøj mellem kirke og fest vil der være rigeligt med plads til at skifte på Varna Palæet.
        </p>
      </div>
    </div> <!-- /row-2 -->

    <!-- row-3 -->
    <div class="row">
      <div square-box class="col-sm-4 col--image vertical-align">
        <img src="/assets/images/varna-square.png" class="img-responsive">
      </div>
      <div square-box class="col-sm-4 col--green bg-bouquet text-padding vertical-align">
        <h2 class="color-primary">De kære små</h2>
        <p class="color-white">
          Vi har måtte sætte grænsen et sted og det bliver ved konfirmationen. Har I børn som gerne vil med i kirken til vielsen er de meget velkomne der.
        </p>

      </div>
      <div square-box class="col-sm-4 col--image vertical-align">
        <img src="/assets/images/mogd-small.png" class="img-responsive">
      </div>
    </div> <!-- /row-1 -->
  </div>
</section>
