<form>
  <div class="form-group">
    <label for="login-email">Email address</label>
    <input type="email" class="form-control" id="login-email" ng-model="email" placeholder="Email">
  </div>
  <div class="form-group">
    <label for="login-password">Password</label>
    <input type="password" ng-model="pass" class="form-control" id="login-password" placeholder="Password">
  </div>
  <span class="help-block" ng-show="err">{{err}}</span>
  <button ng-click="login(email, pass)" class="btn btn-default">Log In</button>
</form>