<div>
  <!--CONTENT SECTION-->
  <section id="content">

    <!--COUPLE SECTION-->
    <section id="couple">
      <div ng-include="'partials/thecouple.tpl.html'"></div>
    </section>

    <!-- PHOTO DIVIDER -->
    <section parallax-background parallax-ratio="0.3" class="image-divider fixed-height" style="background-image:url(/assets/images/proposal-point.jpg); height:350px; background-position:top center">
    </section>

    <!-- OUR STORY SECTION -->
    <section id="our-story">
      <div ng-include="'partials/ourstory.tpl.html'"></div>
    </section>

    <!-- PHOTO DIVIDER -->
    <section parallax-background parallax-ratio="0.3" class="image-divider fixed-height" style="background-image:url(http://placehold.it/1920x1080); height:500px">
    </section>

    <!-- WHERE WHEN SECTION -->
    <section id="where-when">
      <div ng-include="'partials/where-when.tpl.html'"></div>
    </section>

    <!-- ARE YOU ATTENDING? SECTION -->
    <section id="attending">
      <div ng-include="'partials/attending.tpl.html'"></div>
    </section>

    <!-- GALLERY SECTION -->
    <section id="gallery-section">
      <div ng-include="'partials/gallery.tpl.html'"></div>
    </section>

    <!-- DONT MISS IT SECTION -->
    <section id="dont-miss-it">
      <div ng-include="'partials/dont-miss-it.tpl.html'"></div>
    </section>

    <!-- MORE EVENTS SECTION -->
    <section id="more-events">
      <div ng-include="'partials/more-events.tpl.html'"></div>
    </section>

    <!-- PHOTO DIVIDER -->
    <section parallax-background parallax-ratio="0.3" class="image-divider fixed-height" style="background-image:url(http://placehold.it/1920x1080); height:450px">
    </section>

    <!-- GROOMSMEN SECTION -->
    <section id="groomsmen-section">
      <div ng-include="'partials/groomsmen.tpl.html'" scope="" onload=""></div>
    </section>

    <!-- PHOTO DIVIDER -->
    <section parallax-background parallax-ratio="0.3" class="image-divider fixed-height" style="background-image:url(http://placehold.it/1920x1080); height:450px">
    </section>

    <!-- BRIDESMAID SECTION -->
    <section id="bridesmaid-section">
      <div ng-include="'partials/bridesmaid.tpl.html'"></div>
    </section>

    <!-- GIFT REGISTRY SECTION -->
    <section id="gift-section">
      <div ng-include="'partials/gift-registry.tpl.html'"></div>
    </section>

    <!-- RSVP SECTION -->
    <section id="rsvp-section">
      <div ng-include="'partials/rsvp.tpl.html'"></div>
    </section>
  </section>

  <!-- FOOTER SECTION -->
  <footer>
    <div ng-include="'partials/footer.tpl.html'"></div>
  </footer>

</div>

