<div id="admin">
	<section id="content">
		<div class="container">
      <div class="row">
        <div class="col-sm-12">
          <h2>Inviationer</h2>
          <ul class="list-inline statsview text-center">
            <li class="stat stats--invitations">
              <div class="panel">
                <div class="panel-body">
                  <div class="stats__icon"><span class="fa fa-envelope-o fa-2x"></span></div>
                  <div class="stats__value">{{ vm.numUsers }}</div>
                </div>
              </div>
            </li>

            <li class="stat stats--people">
              <div class="panel" ng-click="vm.filter('all')">
                <div class="panel-body">
                  <div class="stats__icon"><span class="fa fa-users fa-2x"></span></div>
                  <div class="stats__value">{{ vm.numPeople }}</div>
                </div>
              </div>
            </li>

            <li class="stat stats--attending">
              <div class="panel panel-success" ng-click="vm.filter('accepted')">
                <div class="panel-body bg-success">
                  <div class="stats__icon"><span class="fa fa-thumbs-o-up fa-2x"></span></div>
                  <div class="stats__value">{{ vm.numAttending }}</div>
                </div>
              </div>
            </li>

            <li class="stat stats--declining">
              <div class="panel panel-danger" ng-click="vm.filter('rejected')">
                <div class="panel-body bg-danger">
                  <div class="stats__icon"><span class="fa fa-thumbs-o-down fa-2x"></span></div>
                  <div class="stats__value">{{ vm.numDeclining }}</div>
                </div>
              </div>
            </li>

            <li class="stat stats--pending">
              <div class="panel panel-info" ng-click="vm.filter('tentative')">
                <div class="panel-body bg-info">
                  <div class="stats__icon"><span class="fa fa-question fa-2x"></span></div>
                  <div class="stats__value">{{ vm.numPending }}</div>
                </div>
              </div>
            </li>

            <li class="stat stats--create" ng-click="vm.createUser()">
              <div class="panel">
                <div class="panel-body">
                  <div class="stats__icon"><span class="fa fa-plus fa-2x"></span></div>
                  <div class="stats__value">Tilføj</div>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div class="row" style="margin-bottom: 20px">
        <div class="col-sm-4">
          <input type="text" class="pull-left" placeholder="Search" ng-model="vm.searchFilter">
        </div>
        <div class="col-sm-1">
          <button ng-if="vm.searchFilter.length" type="button" ng-click="vm.clearSearch()"  class="close pull-left" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        </div>
      </div>
			<div class="row">
        <div class="col-sm-12">
          <table class="table table-striped invitation-list">
            <colgroup>
              <col width="10%">
              <col width="15%">
              <col width="15%">
              <col width="*">
              <col width="10%">
              <col width="15%">
              <col width="10%">
              <col width="*">
            </colgroup>
            <thead>
              <tr>
                <th ng-class="{ 'drop-up': vm.sortReverse, 'add-caret' : vm.hasCaret('name') }">
                  <a ng-click="vm.sort('name')">Navn</a>
                </th>
                <th ng-class="{ 'drop-up': vm.sortReverse, 'add-caret' : vm.hasCaret('email') }">
                  <a ng-click="vm.sort('email')">Email</a>
                </th>
                <th ng-class="{ 'drop-up': vm.sortReverse, 'add-caret' : vm.hasCaret('phone') }">
                  <a ng-click="vm.sort('phone')">Telefon</a>
                </th>
                <th ng-class="{ 'drop-up': vm.sortReverse, 'add-caret' : vm.hasCaret('comments') }">
                  <a ng-click="vm.sort('comments')">Kommentar</a>
                </th>
                <th ng-class="{ 'drop-up': vm.sortReverse, 'add-caret' : vm.hasCaret('rsvp') }">
                  <a ng-click="vm.sort('rsvp')">RVSP</a>
                </th>
                <th ng-class="{ 'drop-up': vm.sortReverse, 'add-caret' : vm.hasCaret('invite') }">
                  <a ng-click="vm.sort('invite')">Invitation</a>
                </th>
                <th ng-class="{ 'drop-up': vm.sortReverse, 'add-caret' : vm.hasCaret('updated_at') }">
                  <a ng-click="vm.sort('updated_at')">Opdateret</a>
                </th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="person in vm.people | orderBy:[ vm.nullsToBottom, vm.sortType ]:vm.sortReverse | filter:vm.searchFilter | filter: { status: vm.statusFilter }">
                <td>{{ person.name }}</td>
                <td>{{ person.email }}</td>
                <td>{{ person.phone }}</td>
                <td>{{ person.comments }}</td>
                <td><span class="label" ng-class="vm.setStatusClass( person.status )">{{ person.rsvp }}</span></td>
                <td>{{ person.invite }}</td>
                <td>{{ person.updated_at ? (person.updated_at | timeAgo) : '' }}</td>
                <td><button class="btn btn-link" ng-click="vm.editUser( person.uid )"><i class="fa fa-pencil"></i></button></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
		</div>
	</section>
</div>
