#login, #home {
		z-index: 0;
		position: relative
}

#login:before {
		background-image: url(/assets/images/mogd-bg2.jpg);
		background-repeat: no-repeat;
		background-size: cover;
		content: "";
		position: absolute;
		top: 0;
		right: 0;
		left: 0;
		bottom: 0;
		z-index: -1;
}

.logo-box {
	width: 75px;
	margin: 0 auto;
}

.login-form {
	margin-top: 3em;
	padding: 40px;
	text-align: center;
	background: url('/assets/images/flowers-middle-bg2.png') no-repeat;
	background-color: white;
	background-size: contain;
	background-position: right center;
	box-shadow: 0 14px 28px rgba(0,0,0,0.15), 0 10px 10px rgba(0,0,0,0.02);
}



@media screen and (max-width: 768px) {
	.btn-login-container {
		position: fixed;
		bottom: 0;
		left: 0;
		width: 100%;
		padding: 0;
		box-sizing: border-box;

		.col-center {
			padding: 0;
		}

		.btn {
			box-sizing: border-box;
			border-radius: 0;
			border: none;
			padding: 30px 40px;
			font-weight: bold;
				text-transform: uppercase;
		}
	}
}




