#login, #home {
    z-index: 0;
    position: relative
}

#login:before,
#home:before {
    background-image: url(/assets/images/mogd.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: -1;
    opacity: .3;
}

.nav-login input[type="text"],
.nav-login input[type="password"] {
	border-radius: 99px;
	border: none;
	background-color: rgba(255,255,255,0.5);
	color: white;
	font-weight: bold;
}

@media screen and (max-width: 768px) {
	.btn-login-container {
		position: fixed;
		bottom: 0;
		left: 0;
		width: 100%;
		padding: 0;
		box-sizing: border-box;

		.col-center {
			padding: 0;
		}

		.btn {
			box-sizing: border-box;
			border-radius: 0;
			border: none;
			padding: 30px 40px;
			font-weight: bold;
    		text-transform: uppercase;
		}
	}
}




