<section id="login" ng-style="{ width: vm.viewport.width + 'px', 'min-height': vm.viewport.height + 'px'}" class="">
  <div class="container-fluid fadeInUp animated">

    <div class="row">
      <div class="col-center col-xs-10 col-sm-6 col-md-4 login-form">
        <div class="logo-box">
          <img src="/assets/images/emblem2.png" class="img-responsive">
        </div>
        <h2 class="font-swung">Mathilde & Daniel</h2>

        <form class="nav-login">
          <div class="form-group">
            <label for="login-email">Brugernavn</label>
            <input
              type="text"
              autocapitalize="off"
              autocorrect="off"
              class="form-control"
              id="login-email"
              ng-model="email"
              placeholder="Brugernavn"
            >
          </div>
          <div class="form-group">
            <label for="login-password">Adgangskode</label>
            <input
              type="password"
              ng-model="pass"
              class="form-control"
              id="login-password"
              autocapitalize="off"
              autocorrect="off"
              placeholder="Adgangskode"
            >
          </div>
          <span class="help-block" ng-show="vm.err">
            {{vm.err}}
          </span>
          <button ng-click="vm.login( email, pass )" class="btn color-bg-primary color-white">Login</button>
        </form>
      </div>
    </div>
  </div>

</section>

