body {
	position: relative;
	overflow: hidden;
}

.main-wrapper {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	box-sizing: border-box;
	padding-left: 0;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;

	background-image: url(/assets/images/bg2.jpg);
    background-repeat: no-repeat;
    background-size: cover;

	transition: all cubic-bezier( 0.250, 0.460, 0.450, 0.940 ) 0.5s;

	&.menuOpen {
		padding-left: $sidebar-width;
	}
}

.main > section {
	box-sizing: border-box;
	padding: 30px;
}


// Handle Transistions between pages

.main.ng-enter, .main.ng-leave {
    position: absolute;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
}

.main.ng-enter {
   -webkit-animation-name: fadeInUp;
   animation-name: fadeInUp;
}

.main.ng-leave {
   -webkit-animation-name: fadeOutUp;
   animation-name: fadeOutUp;
}

// Handle transition

#navigation.ng-enter, #navigation.ng-leave {
  transition: all cubic-bezier( 0.250, 0.460, 0.450, 0.940 ) 0.5s;
  transition-delay: 100ms;
}

#navigation.ng-enter,
#navigation.ng-leave.ng-leave-active {
  transform: translateX( -$sidebar-width  );
}

#navigation.ng-leave,
#navigation.ng-enter.ng-enter-active {
  transform: translateX( 0px );
}

@media screen and (max-width: 991px) {
	.main-wrapper {
		.menuOpen {
			padding-left: 0;
		}
	}
}
