<section id="programme" ng-style="{ 'min-height': vm.viewport.height + 'px'}" >
  <div class="container">
    <div class="row">
      <div class="col-md-6"></div>
      <div class="col-xs-10 col-sm-6 col-center text-center programme">
        <h2>Programmet</h2>
        <ul class=" list-unstyled">
          <li class="programme__item row" ng-repeat="item in vm.programme">
            <time-item time="item.time" label="item.label"></time-item>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
