/*===============================================*/
/* 11. FORM										 */
/*===============================================*/

/*-----------------------------------------------*/
/* 11.1 Form Group								 */
/*-----------------------------------------------*/
.form-group{
	margin-bottom: 30px;
}

.form-group.submit-wrapper{
	margin-top:30px;
}

/*-----------------------------------------------*/
/* 11.2 Form Control							 */
/*-----------------------------------------------*/
.form-control {
   	height:35px;
	border-radius:0;
	font-size:13px;
}

.form-control:focus {
	border-color: #cccccc;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #cccccc;
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #cccccc;
}

/*-----------------------------------------------*/
/* 11.3 Input Group								 */
/*-----------------------------------------------*/
.input-group-addon {
	border-radius:0;
}

/*-----------------------------------------------*/
/* 11.4 Label									 */
/*-----------------------------------------------*/
form label{
	font-family: 'Oswald', sans-serif;
	font-size:14px;
	font-weight:normal;
}

.option-label{
	font-family: 'Arvo', serif;	
	color:#6a6a6a;
	font-size:13px;
}

/*-----------------------------------------------*/
/* 11.5 Button									 */
/*-----------------------------------------------*/
form .btn-primary 
{
    padding: 12px 18px;
    margin: 0 15px 5px 15px; 
    border-radius: 0;
	font-family: 'Arvo', serif;	
	color:#6a6a6a;
	font-size:13px;
  	background-color: #FFF;
  	border-color: #cccccc;
}

form .btn-primary:hover,
form .btn-primary:focus,
form .btn-primary.focus,
form .btn-primary:active,
form .btn-primary.active,
.open > .dropdown-toggle.btn-primary {
	background-color:$color-main; 
	border-color:$color-main;
	color:#FFF;
 	border-color: #cccccc;
}

/*-----------------------------------------------*/
/* 11.6 Checkbox and Radio (Custom)				 */
/*-----------------------------------------------*/
.ajax-checkbox .btn input[type=checkbox],
.ajax-radio .btn input[type=radio]{
	display:none;	
}

.ajax-checkbox .btn.custom-option-icon, .ajax-checkbox .btn.no-icon,
.ajax-radio .btn.custom-option-icon, .ajax-radio .btn.no-icon{
	margin-left:0;
	text-align:left;
}

.ajax-checkbox .btn.custom-option-icon:before{
	font-family:"fontello";
	content:"\ecd4";
	margin-right:7px;
}

.ajax-checkbox .btn.active-icon.custom-option-icon:before{
	font-family:"fontello";
	content:"\ecd3";
	margin-right:7px;
}

.ajax-radio .btn.custom-option-icon:before{
	font-family:"fontello";
	content:"\e914";
	margin-right:7px;
	font-size:16px;
	font-weight:bold;
}

.ajax-radio .btn.active-icon.custom-option-icon:before{
	font-family:"fontello";
	content:"\e917";
	margin-right:7px;
	font-size:16px;
	font-weight:bold;
}

/*-----------------------------------------------*/
/* 11.7 Select Option							 */
/*-----------------------------------------------*/

select option{
	padding:4px 0 !important;
}

option{
	color:#747474;
}

/*-----------------------------------------------*/
/* 11.8 Message									 */
/*-----------------------------------------------*/
.message{
	margin-bottom:20px;
	font-size:13px
}

.message .bg-danger, .message .bg-success{
	padding:8px 14px;
	color:#ffffff;
}

.message .bg-danger{
	background-color:$color-main; 
}

.message .bg-success{
	background-color:#6a6a6a;
}


/*-----------------------------------------------*/
/* 11.9 Validation								 */
/*-----------------------------------------------*/
form .has-error .btn-primary{
	border-color: #f397a1;
}

.has-error .form-control {
  border-color: #f397a1;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}

.has-error .form-control:focus {
  border-color: #f397a1;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #f397a1;
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #f397a1;
}