/*===============================================*/
/* 13. OTHER PAGE								 */
/*===============================================*/

/* ----------------------------------------------*/
/* 13.1 Location Page				 			 */
/* ----------------------------------------------*/
.interest-icon{
	display:inline-block; 
	width:20%; 
	vertical-align:top; 
	text-align:center
}

.interest-blurb{
	display:inline-block; 
	width:75%;
	vertical-align:top;
}

/* ----------------------------------------------*/
/* 13.2 RSVP-2 Page				 			 	 */
/* ----------------------------------------------*/
.rsvp-wrapper{
	padding:35px 20px 20px 25px; 
	border:1px solid #cccccc; 
	border-radius:10px;
}

/* ----------------------------------------------*/
/* 13.3 Bridesmaid Page				 			 */
/* ----------------------------------------------*/
.bridesmaid-wrapper{
	margin-bottom:40px;
}

/* ----------------------------------------------*/
/* 13.4 Groomsmen Page				 			 */
/* ----------------------------------------------*/
.groomsmen-wrapper{
	margin-bottom:40px;
}

/* ----------------------------------------------*/
/* 13.5 Blog Page				 			 	 */
/* ----------------------------------------------*/
.blog-wrapper{
	margin-bottom:40px;
}