<div id="navigation" ng-if="vm.toggle">
  <nav class="animation fadeIn">
    <div>
      <div class="space-for-logo"></div>
      <ul id="nav-menu" class="nav-smooth-scroll">
        <li>
          <a ui-sref="hjem">VELKOMMEN</a>
        </li>
        <li>
          <a ui-sref="program">PROGRAM</a>
        </li>
        <li>
          <a ui-sref="praktisk">PRAKTISK</a>
        </li>
        <li>
          <a ui-sref="oenskeliste">GAVEØNSKER</a>
        </li>
        <li>
          <a ui-sref="people">PERSONER</a>
        </li>
        <li>
          <a ui-sref="rsvp">RSVP</a>
        </li>
      </ul>
      <div class="clearboth"></div>
    </div>
  </nav>
</div>
